﻿@model IEnumerable<Products_List.Entity.ProductEntity>

<table class="table">
    <thead>
        <tr>
             
                <th>
                    Naziv
                </th>
                <th>
                    Opis
                </th>
                <th>
                    Kategorija
                </th>
                <th>
                    Proizvođač
                </th>
                <th>
                    Dobavljač
                </th>
                <th>
                    Cena
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.NameProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Promeni</a>          
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Create">Unesite novi proizvod</a>
</div>
